<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
</head>
<body>
    <h1>Cadastrar Produto</h1>

    <form method="POST" action="">
        {% csrf_token %}
        
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required>
        <br><br>

        <label for="valor">Valor:</label>
        <input type="number" step="0.01" id="valor" name="valor" required>
        <br><br>

        <label for="descrição">Descrição:</label>
        <input type="text" name="descrição" required>
        <br><br>

        <label for="quantidade_em_estoque">Quantidade em estoque:</label>
        <input type="number" name="quantidade_em_estoque" required>
        <br><br>

        <input type="submit" value="Cadastrar">
    </form>

    <br>
    <a href="http://127.0.0.1:8000/">Voltar</a>
</body>
</html>
