<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>Bem vindo ao CRUD!</h1>
    <h2>O que deseja fazer?</h2>
    <ul>
        <li><a href="cadastro/">Cadastrar um produto</a></li>
        <li><a href="listar/">listar os produtos</a></li>
        <li><a href="atualizar/">Atualizar</a></li>
        <li><a href="deletar/">Deletar</a></li>
    </ul>
</body>
</html>